::ng-deep body {   
    background-image: url('../../../../image/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

::ng-deep table {
    background-color: #1612156b!important;
}
.icon {
    color: white !important;
    fill: none;
  }
  .cursor {
    cursor: pointer;
  }