<style>
    .paginator {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        background: none;
        margin-bottom: 30px; 
    }
    ::ng-deep .mat-mdc-paginator-page-size {
      display: none!important;
    }
    ::ng-deep .mat-mdc-paginator-range-label {
      display: none !important;
    }
    ::ng-deep .mat-mdc-paginator-outer-container {
      background-color: #161215bd !important;
    }
    ::ng-deep .mat-mdc-paginator-navigation-last {
      display: none !important;
    }
    /* Para modificar estilos internos, usa ::ng-deep (deprecado, pero todavía funciona) o estilos globales */
::ng-deep .mat-mdc-paginator-outer-container {
  background: black;
}
</style>
<mat-paginator #paginator
               class="paginator"
               (page)="handlePageEvent($event)"
               [length]="length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="showFirstLastButtons"
               [pageIndex]="pageIndex"
               aria-label="Select page">


