
<style>
    /* Estilo para la tarjeta de login */

/* .mat-mdc-form-field-infix{
  padding: 10px !important;
}
.mat-mdc-text-field-wrapper{
  height: 40px !important;
} */
</style>

<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Agregar Tarea</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="full-width small-field">
          <input matInput placeholder="Nombre:" formControlName="name">
        </mat-form-field>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          <small class="text-danger" *ngIf="form.get('name')?.errors?.['required']">
            El nombre es obligatorio
          </small>
        </div>
        
        <mat-form-field appearance="fill" class="full-width">
            <input matInput placeholder="Descripcion:" formControlName="description">
        </mat-form-field>
        <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
          <small class="text-danger" *ngIf="form.get('description')?.errors?.['required']">
            La descripción es obligatoria
          </small>
        </div>
    
        @if(isAdmin){<mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="user" placeholder="Selecciona un usuario" required>
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('user')?.hasError('required')">
            Debes seleccionar un usuario
          </mat-error>
        </mat-form-field>
      }
        <div class="form-grid">
            <div class="label-column">
              <label>Estado:</label>
            </div>
            <div class="input-column">
              <mat-radio-group formControlName="state" class="vertical-radio-group">
                <mat-radio-button value="0">Pendiente</mat-radio-button>
                <mat-radio-button value="1">En progreso</mat-radio-button>
                <mat-radio-button value="2">Completada</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="form.get('state')?.invalid && form.get('state')?.touched">
              <small class="text-danger" *ngIf="form.get('state')?.errors?.['required']">
                Selecciona un estado
              </small>
            </div>
          </div>
  
        <div class="div-flex">
            <a routerLink="/dashboard/task" mat-raised-button color="primary" class="full-width">Atras</a>
            <button mat-raised-button color="primary" class="full-width" type="submit">Ingresar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>