::ng-deep body { 
  background-image: url('../../../../image/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
::ng-deep table {
  background-color: #1612156b!important;
}
.icon {
  color: white !important;
  fill: none;
}
.cursor {
  cursor: pointer;
}
.sep{ 
  height: 40px; 
}

.no-data-message {
  width: 90%;
  margin: 20px auto;
}

.no-data-message mat-card {
  background-color: #1612156b;
}

.no-data-message h2 {
  color: black;
  margin: 10px 0;
}

.no-data-message p {
  color: black;
}


.div-flex{
  display: flex;
  justify-content: center;
}
.mat-mdc-table {
  min-width: 90% !important;
}
.spaced {
  display: flex;
  justify-content: space-around;
}
.mr {
  margin-right: 10px;
}
.mt {
  margin-top: 10px;
} 
.mt1 {
  margin-top: 30px;
} 
.fab-button {
  position: fixed;
  bottom: 16px; /* distancia desde abajo */
  right: 16px;  /* distancia desde la derecha */
  z-index: 1000; /* para que quede sobre otros elementos */
  background-color: #ffabf3;
  color: black;
}

/* Estilo predeterminado: los elementos en fila */
.div-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* espacio entre elementos */
}

/* En pantallas pequeñas, apilamos y ocupan todo el ancho */
/* Estilo original: fila en pantallas grandes */
.div-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* En pantallas pequeñas, apilados en columna, centrados, con espacio a los lados */
@media(max-width: 800px) {
  .div-flex {
    flex-direction: column; /* apilados verticalmente */
    align-items: center; /* centrar horizontalmente */
  }
  /* los campos y botón ocupan 80% del espacio y centrados */
  .div-flex mat-form-field,
  .div-flex button {
    width: 80%;
    margin: 10px 0; /* espacio arriba y abajo */
  }
}