
<style>
    /* Estilo para la tarjeta de login */

/* .mat-mdc-form-field-infix{
  padding: 10px !important;
}
.mat-mdc-text-field-wrapper{
  height: 40px !important;
} */
</style>

<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Agregar Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field appearance="fill" class="full-width small-field">
          <input matInput placeholder="Nombre:" formControlName="name">
        </mat-form-field>
        <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
          <small class="text-danger" *ngIf="form.get('name')?.errors?.['required']">
            El nombre es obligatorio
          </small>
        </div>

        <mat-form-field appearance="fill" class="full-width">
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" name="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar contraseña'">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          <small class="text-danger" *ngIf="form.get('password')?.errors?.['required']">
            La contraseña es obligatoria
          </small>
          <small class="text-danger" *ngIf="form.get('password')?.errors?.['minlength']">
            Mínimo 6 caracteres
          </small>
        </div>

        <mat-form-field appearance="fill" class="full-width">
            <input matInput placeholder="Correo:" formControlName="email">
        </mat-form-field> 
        <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          <small class="text-danger" *ngIf="form.get('email')?.errors?.['required']">
            El email es obligatorio
          </small>
          <small class="text-danger" *ngIf="form.get('email')?.errors?.['email']">
            Ingresa un email válido
          </small>
        </div>

        <div class="form-grid">
            <div class="label-column">
              <label>Rol:</label>
            </div>
            <div class="input-column">
              <mat-radio-group formControlName="role" class="vertical-radio-group">
                <mat-radio-button value="admin">Administrador</mat-radio-button>
                <mat-radio-button value="user">Usuario</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngIf="form.get('role')?.invalid && form.get('role')?.touched">
              <small class="text-danger" *ngIf="form.get('role')?.errors?.['required']">
                Selecciona un rol
              </small>
            </div>
          </div>
  
        <div class="div-flex">
            <a routerLink="/dashboard/user" mat-raised-button color="primary" class="full-width">Atras</a>
            <button mat-raised-button color="primary" class="full-width" type="submit">Ingresar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>